DATABASE_URL="file:./dev.db"
PORT=3000
SESSION_SECRET="change-me"
ADMIN_USERNAME="bar-ad"
ADMIN_PASSWORD="bar-123"
MANAGER_USERNAME="bar"
MANAGER_PASSWORD="bar-123"
ARCHIVE_DELETE_PASSWORD="archive-delete"
MAX_ORDER_QUANTITY=99
